In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    "employee": ["Keshav", "Afroze", "Nico", "Sravya", "Ethan", "Fiona"],
    "department": ["HR", "Finance", "IT", "Finance", "IT", "HR"],
    "salary": [500000, 600000, np.nan, 720000, 550000, 580000],
    "joining_date": pd.to_datetime([
        "2020-01-15", "2019-03-10", "2021-06-25", 
        "2018-07-01", "2022-02-14", "2021-11-11"
    ]),
    "bonus": [50000, 7000000, 40000, 80000, np.nan, 60000]
}, index=["E1", "E2", "E3", "E4", "E5", "E6"])

In [4]:
df

   employee department    salary joining_date      bonus
E1   Keshav         HR  500000.0   2020-01-15    50000.0
E2   Afroze    Finance  600000.0   2019-03-10  7000000.0
E3     Nico         IT       NaN   2021-06-25    40000.0
E4   Sravya    Finance  720000.0   2018-07-01    80000.0
E5    Ethan         IT  550000.0   2022-02-14        NaN
E6    Fiona         HR  580000.0   2021-11-11    60000.0

In [5]:
#zip

In [6]:
# Pair employee with salary
pairs = list(zip(df.employee, df.salary))

In [7]:
pairs

[('Keshav', 500000.0),
 ('Afroze', 600000.0),
 ('Nico', nan),
 ('Sravya', 720000.0),
 ('Ethan', 550000.0),
 ('Fiona', 580000.0)]

In [8]:
# Combine three columns together
triplets = list(zip(df.employee, df.department, df.bonus))

In [9]:
triplets

[('Keshav', 'HR', 50000.0),
 ('Afroze', 'Finance', 7000000.0),
 ('Nico', 'IT', 40000.0),
 ('Sravya', 'Finance', 80000.0),
 ('Ethan', 'IT', nan),
 ('Fiona', 'HR', 60000.0)]

In [10]:
# Unzip (split into separate tuples again)
names, departments = zip(*zip(df.employee, df.department))

In [11]:
names

('Keshav', 'Afroze', 'Nico', 'Sravya', 'Ethan', 'Fiona')

In [12]:
departments

('HR', 'Finance', 'IT', 'Finance', 'IT', 'HR')

In [13]:
# Use zip with list comprehension to create "compensation" dict
comp_dict = {emp: sal + (bonus if pd.notna(bonus) else 0)
             for emp, sal, bonus in zip(df.employee, df.salary, df.bonus)}

In [14]:
comp_dict

{'Keshav': 550000.0,
 'Afroze': 7600000.0,
 'Nico': nan,
 'Sravya': 800000.0,
 'Ethan': 550000.0,
 'Fiona': 640000.0}

In [15]:
## 1. Create a dictionary of employee -> department

In [16]:
emp_dept = dict(zip(df.employee, df.department))

In [17]:
emp_dept

{'Keshav': 'HR',
 'Afroze': 'Finance',
 'Nico': 'IT',
 'Sravya': 'Finance',
 'Ethan': 'IT',
 'Fiona': 'HR'}

In [18]:
# 2. Combine employee, salary, and department into formatted strings

In [19]:
info_list = [f"{emp} from {dept} earns {sal}" 
             for emp, sal, dept in zip(df.employee, df.salary, df.department)]

In [20]:
# 3. Handle unequal length lists with zip (truncate to shortest)

In [21]:
extra = ["A", "B"]

In [22]:
truncated = list(zip(df.employee, extra))

In [23]:
truncated

[('Keshav', 'A'), ('Afroze', 'B')]

In [24]:
# 4. Add two numeric columns together with zip (salary + bonus)

In [25]:
total_comp = [sal + (bonus if pd.notna(bonus) else 0) 
              for sal, bonus in zip(df.salary, df.bonus)]

In [26]:
total_comp

[550000.0, 7600000.0, nan, 800000.0, 550000.0, 640000.0]

In [27]:
# 5. Use zip to transpose: rows -> columns

In [28]:
transposed = list(zip(df.employee, df.department, df.salary))

In [29]:
transposed

[('Keshav', 'HR', 500000.0),
 ('Afroze', 'Finance', 600000.0),
 ('Nico', 'IT', nan),
 ('Sravya', 'Finance', 720000.0),
 ('Ethan', 'IT', 550000.0),
 ('Fiona', 'HR', 580000.0)]

In [30]:
# enumerate

In [31]:
# Get index + employee name

In [32]:
for idx, name in enumerate(df.employee):
    print(idx, name)

0 Keshav
1 Afroze
2 Nico
3 Sravya
4 Ethan
5 Fiona

In [33]:
# Enumerate with a custom start

In [34]:
for idx, dep in enumerate(df.department, start=101):
    print(idx, dep)

101 HR
102 Finance
103 IT
104 Finance
105 IT
106 HR

In [35]:
# Combine enumerate with zip

In [36]:
for idx, (emp, sal) in enumerate(zip(df.employee, df.salary)):
    print(f"{idx}: {emp} earns {sal}")

0: Keshav earns 500000.0
1: Afroze earns 600000.0
2: Nico earns nan
3: Sravya earns 720000.0
4: Ethan earns 550000.0
5: Fiona earns 580000.0

In [37]:
# Filter high salaries using enumerate
high_salaries = [ (i, emp, sal) 
                  for i, (emp, sal) in enumerate(zip(df.employee, df.salary)) 
                  if pd.notna(sal) and sal > 600000 ]

In [38]:
high_salaries

[(3, 'Sravya', 720000.0)]

In [39]:
#Enumerate employees with index starting at 1
for i, emp in enumerate(df.employee, start=1):
    print(f"{i}. {emp}")

1. Keshav
2. Afroze
3. Nico
4. Sravya
5. Ethan
6. Fiona

In [40]:
# Create a list of employees with index tags
indexed_employees = [f"#{i}-{emp}" for i, emp in enumerate(df.employee)]

In [41]:
indexed_employees

['#0-Keshav', '#1-Afroze', '#2-Nico', '#3-Sravya', '#4-Ethan', '#5-Fiona']

In [42]:
# Get employees with even index only
even_indexed = [emp for i, emp in enumerate(df.employee) if i % 2 == 0]

In [43]:
even_indexed

['Keshav', 'Nico', 'Ethan']

In [44]:
# Combine enumerate with zip: index + employee + salary

In [45]:
for i, (emp, sal) in enumerate(zip(df.employee, df.salary)):
    print(f"Row {i}: {emp} has salary {sal}")

Row 0: Keshav has salary 500000.0
Row 1: Afroze has salary 600000.0
Row 2: Nico has salary nan
Row 3: Sravya has salary 720000.0
Row 4: Ethan has salary 550000.0
Row 5: Fiona has salary 580000.0

In [46]:
# Track changes: flag employees whose salary decreased compared to previous row

In [47]:
salary_changes = [(i, emp, sal) 
                  for i, (emp, sal) in enumerate(zip(df.employee, df.salary)) 
                  if i > 0 and pd.notna(sal) and pd.notna(df.salary[i-1]) and sal < df.salary[i-1]]

/var/folders/mz/hrb5glzs1gs45_7v9l98gmtr0000gn/T/ipykernel_20263/2478594333.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if i > 0 and pd.notna(sal) and pd.notna(df.salary[i-1]) and sal < df.salary[i-1]]

In [48]:
salary_changes

[(4, 'Ethan', 550000.0)]