In [ ]:
import numpy as np
import pandas as pd
import itertools

df = pd.DataFrame({
    "employee": ["Keshav", "Afroze", "Nico", "Sravya", "Ethan", "Fiona"],
    "department": ["HR", "Finance", "IT", "Finance", "IT", "HR"],
    "salary": [500000, 600000, np.nan, 720000, 550000, 580000],
    "joining_date": pd.to_datetime([
        "2020-01-15", "2019-03-10", "2021-06-25", 
        "2018-07-01", "2022-02-14", "2021-11-11"
    ]),
    "bonus": [50000, 7000000, 40000, 80000, np.nan, 60000]
}, index=["E1", "E2", "E3", "E4", "E5", "E6"])

In [2]:
# Cartesian product of departments and employees

In [3]:
dept_emp_pairs = list(itertools.product(df.department.unique(), df.employee))

In [4]:
dept_emp_pairs

[('HR', 'Keshav'),
 ('HR', 'Afroze'),
 ('HR', 'Nico'),
 ('HR', 'Sravya'),
 ('HR', 'Ethan'),
 ('HR', 'Fiona'),
 ('Finance', 'Keshav'),
 ('Finance', 'Afroze'),
 ('Finance', 'Nico'),
 ('Finance', 'Sravya'),
 ('Finance', 'Ethan'),
 ('Finance', 'Fiona'),
 ('IT', 'Keshav'),
 ('IT', 'Afroze'),
 ('IT', 'Nico'),
 ('IT', 'Sravya'),
 ('IT', 'Ethan'),
 ('IT', 'Fiona')]

In [5]:
# All possible ordered pairs of employees (permutations)

In [6]:
ordered_pairs = list(itertools.permutations(df.employee, 2))

In [7]:
ordered_pairs

[('Keshav', 'Afroze'),
 ('Keshav', 'Nico'),
 ('Keshav', 'Sravya'),
 ('Keshav', 'Ethan'),
 ('Keshav', 'Fiona'),
 ('Afroze', 'Keshav'),
 ('Afroze', 'Nico'),
 ('Afroze', 'Sravya'),
 ('Afroze', 'Ethan'),
 ('Afroze', 'Fiona'),
 ('Nico', 'Keshav'),
 ('Nico', 'Afroze'),
 ('Nico', 'Sravya'),
 ('Nico', 'Ethan'),
 ('Nico', 'Fiona'),
 ('Sravya', 'Keshav'),
 ('Sravya', 'Afroze'),
 ('Sravya', 'Nico'),
 ('Sravya', 'Ethan'),
 ('Sravya', 'Fiona'),
 ('Ethan', 'Keshav'),
 ('Ethan', 'Afroze'),
 ('Ethan', 'Nico'),
 ('Ethan', 'Sravya'),
 ('Ethan', 'Fiona'),
 ('Fiona', 'Keshav'),
 ('Fiona', 'Afroze'),
 ('Fiona', 'Nico'),
 ('Fiona', 'Sravya'),
 ('Fiona', 'Ethan')]

In [8]:
# All possible unordered pairs of employees (combinations)

In [9]:
unordered_pairs = list(itertools.combinations(df.employee, 2))

In [10]:
# Group employees by department (groupby)

In [12]:
# by dept
sorted_df = df.sort_values("department")

In [13]:
grouped = itertools.groupby(sorted_df.employee, key=lambda x: sorted_df.loc[sorted_df.employee==x, "department"].values[0])

In [14]:
for dept, group in grouped:
    print(dept, list(group))

Finance ['Afroze', 'Sravya']
HR ['Keshav', 'Fiona']
IT ['Nico', 'Ethan']

In [15]:
# Generate all salary-bonus combinations

In [16]:
salary_vals = df.salary.dropna()

In [17]:
bonus_vals = df.bonus.dropna()

In [18]:
salary_bonus_combos = list(itertools.product(salary_vals, bonus_vals))

In [ ]:
salary_bonus_combos[:10]

[(500000.0, 50000.0),
 (500000.0, 7000000.0),
 (500000.0, 40000.0),
 (500000.0, 80000.0),
 (500000.0, 60000.0),
 (600000.0, 50000.0),
 (600000.0, 7000000.0),
 (600000.0, 40000.0),
 (600000.0, 80000.0),
 (600000.0, 60000.0)]

In [21]:
# # All possible teams of 3 employees

In [20]:
teams_of_3 = list(itertools.combinations(df.employee, 3))

In [22]:
teams_of_3

[('Keshav', 'Afroze', 'Nico'),
 ('Keshav', 'Afroze', 'Sravya'),
 ('Keshav', 'Afroze', 'Ethan'),
 ('Keshav', 'Afroze', 'Fiona'),
 ('Keshav', 'Nico', 'Sravya'),
 ('Keshav', 'Nico', 'Ethan'),
 ('Keshav', 'Nico', 'Fiona'),
 ('Keshav', 'Sravya', 'Ethan'),
 ('Keshav', 'Sravya', 'Fiona'),
 ('Keshav', 'Ethan', 'Fiona'),
 ('Afroze', 'Nico', 'Sravya'),
 ('Afroze', 'Nico', 'Ethan'),
 ('Afroze', 'Nico', 'Fiona'),
 ('Afroze', 'Sravya', 'Ethan'),
 ('Afroze', 'Sravya', 'Fiona'),
 ('Afroze', 'Ethan', 'Fiona'),
 ('Nico', 'Sravya', 'Ethan'),
 ('Nico', 'Sravya', 'Fiona'),
 ('Nico', 'Ethan', 'Fiona'),
 ('Sravya', 'Ethan', 'Fiona')]