### any

In [2]:
nums = [0, 0, 5, 0]

In [4]:
print(any(nums))

True

In [6]:
checks = [False, False, True, False]

In [8]:
print(any(checks))

True

In [10]:
import pandas as pd
df = pd.DataFrame({"bonus": [None, 5000, None]})

In [14]:
df.bonus.isna()

0     True
1    False
2     True
Name: bonus, dtype: bool

In [16]:
df.bonus.isna().any()

True

In [12]:
print(df["bonus"].isna().any())

True

In [18]:
fruits = ["apple", "banana", "cherry"]

### enumerate

In [20]:
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 apple
1 banana
2 cherry

In [24]:
for idx, fruit in enumerate(fruits, start=1):
    print(idx, fruit)

1 apple
2 banana
3 cherry

In [26]:
nums = [0, 0, 3, 0]

if any(nums): 
    for i, n in enumerate(nums):
        print(i, n)

0 0
1 0
2 3
3 0

#### Using enumerate() to inspect missing values column by column

In [34]:
# resuing old df
import numpy as np
import pandas as pd
df = pd.DataFrame({
    "employee": ["Keshav", "Afroze", "Nico", "Sravya", "Ethan", "Fiona"],
    "department": ["HR", "Finance", "IT", "Finance", "IT", "HR"],
    "salary": [500000, 600000, np.nan, 720000, 550000, 580000],
    "joining_date": pd.to_datetime([
        "2020-01-15", "2019-03-10", "2021-06-25", 
        "2018-07-01", "2022-02-14", "2021-11-11"
    ]),
    "bonus": [50000, 7000000, 40000, 80000, np.nan, 60000]
}, index=["E1", "E2", "E3", "E4", "E5", "E6"])

In [36]:
df

   employee department    salary joining_date      bonus
E1   Keshav         HR  500000.0   2020-01-15    50000.0
E2   Afroze    Finance  600000.0   2019-03-10  7000000.0
E3     Nico         IT       NaN   2021-06-25    40000.0
E4   Sravya    Finance  720000.0   2018-07-01    80000.0
E5    Ethan         IT  550000.0   2022-02-14        NaN
E6    Fiona         HR  580000.0   2021-11-11    60000.0

In [38]:
for idx, col in enumerate(df.columns):
    missing = df[col].isna().sum()
    print(f"{idx}: the column '{col}' has {missing} missing valuessss")

0: the column 'employee' has 0 missing valuessss
1: the column 'department' has 0 missing valuessss
2: the column 'salary' has 1 missing valuessss
3: the column 'joining_date' has 0 missing valuessss
4: the column 'bonus' has 1 missing valuessss

In [46]:
# detect super high bonus, greater than a million using enumerate

In [48]:
for idx, (row_index, row) in enumerate(df.iterrows()):
    if row["bonus"] is not np.nan and row["bonus"] > 1000000:
        print(f"Row {idx} ({row_index}): {row['employee']} has unusually high bonus {row['bonus']}")

Row 1 (E2): Afroze has unusually high bonus 7000000.0

In [50]:
# sal or bonus is missing

In [52]:
for idx, (row_index, row) in enumerate(df.iterrows()):
    if row[["salary", "bonus"]].isna().any():
        print(f"Row {idx} ({row_index}): Missing data → {row.to_dict()}")

Row 2 (E3): Missing data → {'employee': 'Nico', 'department': 'IT', 'salary': nan, 'joining_date': Timestamp('2021-06-25 00:00:00'), 'bonus': 40000.0}
Row 4 (E5): Missing data → {'employee': 'Ethan', 'department': 'IT', 'salary': 550000.0, 'joining_date': Timestamp('2022-02-14 00:00:00'), 'bonus': nan}

In [58]:
# Check if any column in each row has missing values

In [60]:
for idx, (row_index, row) in enumerate(df.iterrows()):
    if row.isna().any():  # True if at least one NaN in the row
        print(f"Row {idx} ({row_index}) has missing data: {row.to_dict()}")

Row 2 (E3) has missing data: {'employee': 'Nico', 'department': 'IT', 'salary': nan, 'joining_date': Timestamp('2021-06-25 00:00:00'), 'bonus': 40000.0}
Row 4 (E5) has missing data: {'employee': 'Ethan', 'department': 'IT', 'salary': 550000.0, 'joining_date': Timestamp('2022-02-14 00:00:00'), 'bonus': nan}

In [62]:
for idx, col in enumerate(["salary", "bonus"]):
    if (df[col] > 1_000_000).any():
        print(f"Column {idx} ('{col}') has at least one unusually large value")

Column 1 ('bonus') has at least one unusually large value