In [1]:
# reference_name = references[ds] if ds in references else print("used a fn")

NameError: name 'ds' is not defined

In [5]:
# resuing old df
import numpy as np
import pandas as pd
df = pd.DataFrame({
    "employee": ["Keshav", "Afroze", "Nico", "Sravya", "Ethan", "Fiona"],
    "department": ["HR", "Finance", "IT", "Finance", "IT", "HR"],
    "salary": [500000, 600000, np.nan, 720000, 550000, 580000],
    "joining_date": pd.to_datetime([
        "2020-01-15", "2019-03-10", "2021-06-25", 
        "2018-07-01", "2022-02-14", "2021-11-11"
    ]),
    "bonus": [50000, 7000000, 40000, 80000, np.nan, 60000]
}, index=["E1", "E2", "E3", "E4", "E5", "E6"])

In [11]:
df

   employee department    salary joining_date      bonus
E1   Keshav         HR  500000.0   2020-01-15    50000.0
E2   Afroze    Finance  600000.0   2019-03-10  7000000.0
E3     Nico         IT       NaN   2021-06-25    40000.0
E4   Sravya    Finance  720000.0   2018-07-01    80000.0
E5    Ethan         IT  550000.0   2022-02-14        NaN
E6    Fiona         HR  580000.0   2021-11-11    60000.0

In [13]:
database = df

In [15]:
database

   employee department    salary joining_date      bonus
E1   Keshav         HR  500000.0   2020-01-15    50000.0
E2   Afroze    Finance  600000.0   2019-03-10  7000000.0
E3     Nico         IT       NaN   2021-06-25    40000.0
E4   Sravya    Finance  720000.0   2018-07-01    80000.0
E5    Ethan         IT  550000.0   2022-02-14        NaN
E6    Fiona         HR  580000.0   2021-11-11    60000.0

In [17]:
# line verbatim from rate_database
assert pd.unique(database.index).size == database.shape[0], f"ERROR! Database shaped {database.shape} has only {pd.unique(database.index).size} unique indices"

In [19]:
mag = pd.unique(database.index).size

In [21]:
mag

6

In [23]:
mag == database.shape[0]

True

### this means there cant be a repeated index value in the db

In [39]:
#another assert
# bonus cant be empty or cant be over 1 million, which it is so it should throw an error
assert df.bonus.notna().all() and (df.bonus <= 1000000).all(), "error, bonus is either nan or over 1 million or both"

AssertionError: error, bonus is either nan or over 1 million or both

In [53]:
#lets check row by row beacuse why not
row_errors = df[df.bonus.isna() | (df.bonus>1000000)]
assert row_errors.empty, f"inavlid bonus, erros found : {row_errors}"

AssertionError: inavlid bonus, erros found :    employee department    salary joining_date      bonus
E2   Afroze    Finance  600000.0   2019-03-10  7000000.0
E5    Ethan         IT  550000.0   2022-02-14        NaN

In [57]:
# or vs | and vs & empty and 
# and or not should be used with booleans
# |& etc should be used with numoy and pandas

In [59]:
a = True
b = False
print(a or b)
print(a or False)# doesnt even check the right handside, its called short circuit

True
True

In [63]:
#| is bitwise or, there is operator precendence involved here so use ()

In [65]:
df[(df.bonus > 1000000) or (df.bonus.notna())] # this failed the last time i tried to do it

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [67]:
df[(df.bonus > 1000000) | (df.bonus.notna())]

   employee department    salary joining_date      bonus
E1   Keshav         HR  500000.0   2020-01-15    50000.0
E2   Afroze    Finance  600000.0   2019-03-10  7000000.0
E3     Nico         IT       NaN   2021-06-25    40000.0
E4   Sravya    Finance  720000.0   2018-07-01    80000.0
E6    Fiona         HR  580000.0   2021-11-11    60000.0

In [69]:
#failed bcs df.bonus>1 million gives out a series of booleans, py doesnt know what to do

In [71]:
# same for and

In [73]:
# not vs ~

In [75]:
x = 0
print(not x)

True

In [77]:
print(x)

0

In [79]:
y = 1

In [81]:
print(not y)

False

In [89]:
# ~ n integers → flips bits.

In [91]:
print(~5)

-6

In [93]:
#On Pandas / NumPy boolean arrays → element-wise negation (True → False, False → True).

In [105]:
print(df[~df.bonus.isna()])

   employee department    salary joining_date      bonus
E1   Keshav         HR  500000.0   2020-01-15    50000.0
E2   Afroze    Finance  600000.0   2019-03-10  7000000.0
E3     Nico         IT       NaN   2021-06-25    40000.0
E4   Sravya    Finance  720000.0   2018-07-01    80000.0
E6    Fiona         HR  580000.0   2021-11-11    60000.0

In [109]:
# not expects a single boolean, not a whole Series.
print(df[not df.bonus.isna()])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [111]:
#Use not for single values (scalars).
#Use ~ for element-wise negation in Pandas / NumPy.

In [113]:
s = pd.Series([True, False, True])
# Using not (scalar logical NOT) → FAILS
try:
    print(not s)
except ValueError as e:
    print("not s error:", e)

not s error: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [115]:
#same thing happened

In [117]:
print("~s:\n", ~s)

~s:
 0    False
1     True
2    False
dtype: bool