In [2]:
import importlib

In [3]:
# dynamically import random

In [4]:
random = importlib.import_module("random")

In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "employee": ["Keshav", "Afroze", "Nico", "Sravya", "Ethan", "Fiona"],
    "department": ["HR", "Finance", "IT", "Finance", "IT", "HR"],
    "salary": [500000, 600000, np.nan, 720000, 550000, 580000],
    "joining_date": pd.to_datetime([
        "2020-01-15", "2019-03-10", "2021-06-25", 
        "2018-07-01", "2022-02-14", "2021-11-11"
    ]),
    "bonus": [50000, 7000000, 40000, 80000, np.nan, 60000]
}, index=["E1", "E2", "E3", "E4", "E5", "E6"])

In [6]:
# pick a random employee

In [7]:
random_employee = random.choice(df["employee"].tolist())

In [8]:
print(random_employee)

Fiona

In [9]:
# Mean salary with statistics (ignoring NaN)

In [10]:
import numpy as np

In [11]:
statistics = importlib.import_module("statistics")

In [12]:
# drop NaN before computing mean

In [13]:
mean_salary = statistics.mean(df["salary"].dropna())

In [26]:
print(mean_salary)

590000.0

In [28]:
# 3. Standard deviation of bonus with numpy (dynamic import)

In [30]:
numpy = importlib.import_module("numpy")

In [32]:
std_bonus = numpy.nanstd(df["bonus"])   # nanstd ignores NaNs

In [34]:
std_bonus

2777031.508643717

In [36]:
# Importing numpy dynamically

In [38]:
np_module = importlib.import_module("numpy")

In [40]:
print(np_module.mean(df["salary"].dropna()))

590000.0

In [42]:
# Import pandas dynamically and check columns

In [44]:
pd_module = importlib.import_module("pandas")

In [46]:
print(pd_module.DataFrame(df).columns)

Index(['employee', 'department', 'salary', 'joining_date', 'bonus'], dtype='object')

In [48]:
#json module with df

In [50]:
import json

In [52]:
json_str = df.to_json(orient="records")

In [54]:
print(json_str[:200])

[{"employee":"Keshav","department":"HR","salary":500000.0,"joining_date":1579046400000,"bonus":50000.0},{"employee":"Afroze","department":"Finance","salary":600000.0,"joining_date":1552176000000,"bonu

In [56]:
# saving df to json

In [65]:
with open("employees.json", "w") as f:
    json.dump(df.astype(str).to_dict(orient="records"), f, indent=2)

In [67]:
# Load JSON back into Python dict

In [69]:
with open("employees.json", "r") as f:
    data = json.load(f)

In [71]:
print(data[:2])

[{'employee': 'Keshav', 'department': 'HR', 'salary': '500000.0', 'joining_date': '2020-01-15', 'bonus': '50000.0'}, {'employee': 'Afroze', 'department': 'Finance', 'salary': '600000.0', 'joining_date': '2019-03-10', 'bonus': '7000000.0'}]